<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="SMTP" value="smtp" />
    <add key="EmailSMTP" value="teste@teste.com" />
    <add key="PasswordSMTP" value="pass" />
    <add key="BaseUrlApi" value="https://localhost:44310/produtos/api/v1" />
    <add key="PortaSMTP" value="587" />
  </appSettings>
  <connectionStrings>
    <add name="conexaoPrincipal" connectionString="Server=DESKTOP-HM8BM5L\SQLEXPRESS;Database=gpapp_wpf;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>
